body {
    background-image: url(https://lh3.googleusercontent.com/L4F8MfQIXf73PjUuQC7T4ebI0sRvD65sJ1ATkQuly_RzpWszHryralYk20MsybamNFMWhMR0pcAgbtbwaAII59ZqRRnAmeZ8t1ZpmEq971qFrmOwEueRV2l-q6Em9eJH4BojHZt4-vqlg0veiAZhpS7WuC20LS8_0RGwarnu-5h60srifWTSJhaopwR05tm6rRgcj2rA9qGf3MABBHdOKQlewAZ4Td1Pg3A6mHK8cPvwKyEp7JFcTGr1d-9I5JE0oPQA2o78YLkhPBbwZkUaaLhAMOErPzgfvMicHkrlb18g2obHF-XBO_q3-O9GrpIsJqXAr889czrp-X5a2O3wsdmbhbah2AUbj1P15I_FUfYWiwtcBqri_tSFansDIZ4x5uvJrS8RS6wOAuR-nOQS78KsJqL1oOYcMvVT3osgAYznBezAtq10XOBLTCJiZE1qHVHHUlzFGwd8-Lt4SM71dBY33c8nbEyeQsko9xVbPzbqPdP6CTYu58KvykMyj7dORip23gFZh5sqOoaS_MkjH-ofWZT9z4gC7v6JQN1xy--kwKMr47MKnS9vpp4OOvV9ETHsMpVu9Ygl3t2NVYhKsbQuZI7t8pwELTUc_L0vIgvAkDr0GuYXTdNV_YFgJ-TuGJqo7-_7W0YnYLM_furDt0ycOQ8yY39sB3HhOeQfKphQzQQRCUGujMW1eD5C_XzjKw9BdjBKRUKhSKBYJkwIk3PHSPyQJk4svqllWqRm006L6koLdGkmHI9I9lU=w1069-h601-no?authuser=0);

background-position: center center;
background-repeat:no-repeat;
background-size: 100%;
}
nav ul {
    list-style-type: none;
    background-color: none;
    border: 4px;
    font-family: sans-serif;
    font-weight: bold;
    align-items: center;
    padding-left: 10px;
    padding-top: 10px;
}
nav ul li {
    display: inline;
    border-right: 2px;
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
}
nav ul li:last-child {
    border-right: none;
}
nav ul li a {
text-decoration: none;
color: white;
}
nav li a:hover {
    color: rgb(0, 0, 0);
    text-decoration: unset;
}
h1 {
    font-family: sans-serif;
    font-size: 70px;
    font-weight: bold;
    color: white;
    padding-left: 5px;
    padding-top: 17%;
}

p {
    color: rgb(211, 214, 219);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}
img.portada {
width: 5%;
padding-top: 5px;
padding-bottom: 0px;
}
h2 {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-bottom: 5%;
    float: left;
    padding-left: 10px;
    font-size: 20 px;
    
}